[Desktop Entry]
Type=Application
Name=Blackboard Downloader
Comment=Save an offline copy of Blackboard course files
Exec=/usr/bin/blackboard-downloader
Icon=applications-education
Terminal=false
Categories=Education;Network;
